<div class="jumbotron center">

<h1>Bienvenido a "SODI -MIC" </h1>
<h5> Mas de lo mismo </h5>
<p>    ;)  </p>
</div>

<div>
<p>En informática, CRUD es el acrónimo de "Crear, Leer, Actualizar y Borrar" (del original en inglés: Create, Read, Update and Delete), que se usa para referirse a las funciones básicas en bases de datos o la capa de persistencia en un software.</p>
</div
